{deps, []}.
{eunit_opts,
 [verbose
]}.

{profiles, [{test, [
                     {erl_opts, [
                                 {d,     ssl_api, mock_ssl_api    },
                                 {d, gen_tcp_api, mock_gen_tcp_api}
                                ]
                     }
                   ]
           }]
}.
